<!DOCTYPE html>
<html lang="en">
    <head>
        <%- include('./head/head');  %> 
    </head>
    <body id="page-top">
        <%- include('./body/navigation');  %>
        <%- include('./body/index_for_home');  %>
        <%- include('./body/javascript');  %>
    </body>
</html>
