<!DOCTYPE html>
<html lang="en">
    <head>
        <%- include('./head/head');  %> 
    </head>
    <body id="body-index">
    <%- include('./body/navigation');  %>
    <section class="bg-color">
        <h1 class="my-5">Integrar un nuevo paciente</h1>
        <form action="patients.new" method="post">
            <input type="text" name="name" placeholder="Nombre del paciente" >
            <input type="number" name="age" placeholder="Edad">
            <input type="submit" value="Submit">
        </form>
    <%- include('./body/javascript');  %>
    </body>
</html>