<!DOCTYPE html>
<html lang="en">
    <head>
        <%- include('./head/head');  %> 
    </head>
    <body id="body-index">
    <%- include('./body/navigation');  %>
    <section class="bg-color">
        <%= nurse.name  %> 
    <%- include('./body/javascript');  %>
    </body>
</html>