 
<!-- Masthead-->
<header class="masthead">
    <div class="container px-4 px-lg-5 d-flex h-100 align-items-center justify-content-center">
        <div class="d-flex justify-content-center">
            <div class="text-center">
                <h1 class="mx-auto my-0 text-uppercase">#Amor</h1>
                <h2 class="text-white-50 mx-auto mt-2 mb-5">Cuidadoras & Enfermeras a domicilio.</h2>
                <a class="btn btn-primary" href="#about">Empezar</a>
            </div>
        </div>
    </div>
</header>
<!-- About-->
<section class="about-section text-center" id="about">
    <div class="container px-4 px-lg-5">
        <div class="row gx-4 gx-lg-5 justify-content-center">
            <div class="col-lg-8">
                <h3 class="text-white mb-4">#Empresa</h3>
                <p class="text-white-50">Expertos en el cuidado del paciente de la tercera edad. Medicos & Desarrolladores de Software trabajando para ti.</p>
                <h3 class="text-white mb-4">#CuidadoConAmor</h3>
                <p class="text-white-50">Todo nuestro personal es capacitado para brindarle la mejor atención.</p>
                <h3 class="text-white mb-4">#APP</h3>
                <p class="text-white-50">Todo nuestro personal cuenta con la más alta tecnologia para el cuidado y monitoreo de tu salud.</p>
                <h3 class="text-white mb-4">#EvaluacionMedicaGratuita</h3>
                <p class="text-white-50">Tú Historia Clínica te acompaña a donde vayas.</p>
                <h3 class="text-white mb-4">#Seguridad</h3>
                <p class="text-white-50">Permanece tranquilo. Corremos perfiles psicologicos para que solamente las personas adecuadas cuiden de ti.</p>
            </div>
        </div>
    </div>
</section>
<!-- Projects-->
<section class="projects-section bg-light" id="projects">
    <div class="container px-4 px-lg-5">
        <!-- Featured Project Row-->
        <div class="row gx-0 mb-4 mb-lg-5 align-items-center">
            <div class="col-xl-8 col-lg-7"><img class="img-fluid mb-3 mb-lg-0" src="assets/img/sudestino.jpg" alt="..." /></div>
            <div class="col-xl-4 col-lg-5">
                <div class="featured-text text-center text-lg-left">
                    <h4>App</h4>
                    <p class="text-black-50 mb-0">Nuestra app es el centro de nuestra operacion. Llevamos todo el monitoreo de pacientes, el personal medico y de las cuidadoras. El flujo de informacion y control centralizado y  alimentando constantemente para tu tranquilidad.</p>
                </div>
            </div>
        </div>
        <!-- Project One Row-->
        <div class="row gx-0 mb-5 mb-lg-0 justify-content-center">
            <div class="col-lg-6"><img class="img-fluid" src="assets/img/viejita.jpg" alt="..." /></div>
            <div class="col-lg-6">
                <div class="bg-black text-center h-100 project">
                    <div class="d-flex h-100">
                        <div class="project-text w-100 my-auto text-center text-lg-left">
                            <h4 class="text-white">Pacientes & Familiares</h4>
                            <p class="mb-0 text-white-50">Como paciente, nos hacemos cargo de tus citas médicas, medicamentos, historial medico y de estar en contacto con tus familiares</p>
                            <hr class="d-none d-lg-block mb-0 ms-0" />
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Project Two Row-->
        <div class="row gx-0 justify-content-center">
            <div class="col-lg-6"><img class="img-fluid" src="assets/img/doctora.jpg" alt="..." /></div>
            <div class="col-lg-6 order-lg-first">
                <div class="bg-black text-center h-100 project">
                    <div class="d-flex h-100">
                        <div class="project-text w-100 my-auto text-center text-lg-right">
                            <h4 class="text-white">Personal Medico</h4>
                            <p class="mb-0 text-white-50">El personal médico evalua al paciente y sube todos sus diagnosticos a nuestra plataforma.</p>
                            <hr class="d-none d-lg-block mb-0 me-0" />
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Signup-->
<section class="signup-section" id="signup">
    <div class="container px-4 px-lg-5">
        <div class="row gx-4 gx-lg-5">
            <div class="col-md-10 col-lg-8 mx-auto text-center">
                <i class="far fa-paper-plane fa-2x mb-2 text-white"></i>
                <h2 class="text-white mb-5">Quiero más información</h2>
                <form class="form-signup d-flex flex-column flex-sm-row">
                    <input class="form-control flex-fill me-0 me-sm-2 mb-3 mb-sm-0" id="inputEmail" type="email" placeholder="Correo electrónico" />
                    <button class="btn btn-primary" type="submit">Enviar</button>
                </form>
            </div>
        </div>
    </div>
</section>
<!-- Contact-->
<section class="contact-section bg-black">
    <div class="container px-4 px-lg-5">
        <div class="row gx-4 gx-lg-5">
            <div class="col-md-4 mb-3 mb-md-0">
                <div class="card py-4 h-100">
                    <div class="card-body text-center">
                        <i class="fas fa-map-marked-alt text-primary mb-2"></i>
                        <h4 class="text-uppercase m-0">Dirección</h4>
                        <hr class="my-4 mx-auto" />
                        <div class="small text-black-50">Yautepec, Morelos.</div>
                    </div>
                </div>
            </div>
            <div class="col-md-4 mb-3 mb-md-0">
                <div class="card py-4 h-100">
                    <div class="card-body text-center">
                        <i class="fas fa-envelope text-primary mb-2"></i>
                        <h4 class="text-uppercase m-0">Email</h4>
                        <hr class="my-4 mx-auto" />
                        <div class="small text-black-50"><a href="#!">ayuda@amorycuidado.org</a></div>
                    </div>
                </div>
            </div>
            <div class="col-md-4 mb-3 mb-md-0">
                <div class="card py-4 h-100">
                    <div class="card-body text-center">
                        <i class="fas fa-mobile-alt text-primary mb-2"></i>
                        <h4 class="text-uppercase m-0">Teléfono</h4>
                        <hr class="my-4 mx-auto" />
                        <div class="small text-black-50">55 2182 6377</div>
                    </div>
                </div>
            </div>
        </div>
        <div class="social d-flex justify-content-center">
            <a class="mx-2" href="#!"><i class="fab fa-twitter"></i></a>
            <a class="mx-2" href="#!"><i class="fab fa-facebook-f"></i></a>
            <a class="mx-2" href="#!"><i class="fab fa-instagram"></i></a>
        </div>
    </div>
</section>
<!-- Footer-->
<footer class="footer bg-black small text-center text-white-50"><div class="container px-4 px-lg-5">Todos los derechos reservados &copy; 2021</div></footer>
<!-- Bootstrap core JS-->
